<a href="https://colab.research.google.com/github/Jiablero/notebooks/blob/master/stepik_submit_data_exploring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

data = pd.read_csv('submissions_data_train.zip')

Давайте найдем такой стэп, используя данные о сабмитах. Для каждого пользователя найдите такой шаг, который он не смог решить, и после этого не пытался решать другие шаги. Затем найдите id шага,  который стал финальной точкой практического обучения на курсе для максимального числа пользователей.

In [0]:
usr_last_time = data.groupby('user_id').timestamp.max()

In [0]:
usr_last_time = pd.DataFrame(usr_last_time)

In [0]:
usr_last_time = usr_last_time.rename(columns = {'timestamp': 'last_access'}).reset_index()

In [0]:
data = data.merge(usr_last_time, how = 'outer')

In [0]:
last_tries = pd.DataFrame(data[data.submission_status == 'wrong'].groupby('step_id').last_access.nunique()).reset_index()

In [53]:
last_tries[last_tries.last_access >= last_tries.last_access.max() ]

   step_id  last_access
4    31978         3423

In [49]:
data

        step_id   timestamp submission_status  user_id  last_access
0         31971  1434349275           correct    15853   1479734163
1         31972  1434348300           correct    15853   1479734163
2         31972  1478852149             wrong    15853   1479734163
3         31972  1478852164           correct    15853   1479734163
4         31976  1434348123             wrong    15853   1479734163
...         ...         ...               ...      ...          ...
509103   120745  1501946959             wrong     2615   1501946959
509104   120745  1503059927           correct    13177   1503059927
509105   120745  1506348153             wrong    15253   1506348153
509106   120745  1523035316             wrong     1424   1523035316
509107   120745  1523382825             wrong     9422   1523382825

[509108 rows x 5 columns]